
@{
    ViewBag.Title = "Index";
}

<div ui-view>
    @section scripts{
    <script src="~/Scripts/site/EditController.js"></script>
    <script src="~/Scripts/site/ListController.js"></script>
    <script src="~/Scripts/site/TransportationService.js"></script>
    }
</div>
   